<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snake</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="../static/js/game.js" defer type="module"></script>
    <script src="../static/js/web.js" defer type="module"></script>
  </head>
  <body>
    <div id="game-board"></div>
    <div class="score">
      <span id="current">Current Score: 0</span><br>
      <span id="time">All Time Score: 0</span>
    </div>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <h1 id="final"></h1>
        <span class="again">Play Again</span>
      </div>
    </div>
  </body>
</html>
